<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= link_to "Rockyou co., ltd.", "http://rockyou.com/" %>
      by Sarat Limprayoon (Timmy)
    </small>
  </footer>
</div>
